<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="../js/login.js" defer></script>

</head>

<body>
    <header></header>
    <div id="sticky-nav">

        <nav class="nav wrap">
            <div class="logo-wtext">
                <img class="img-fluid" src="../GFX/logotekst_sort.png" alt="Logo billede">
            </div>

            <ul>

                <li>
                    <a href="../../index.html#top">Forside</a>
                </li>
                <li>
                    <a href="../../index.html#members">Medlemmer</a>
                </li>
                <li>
                    <a href="../../index.html#about">Om os</a>
                </li>
                <li>
                    <a href="../../index.html#contact">Kontakt</a>
                </li>
                <li>
                    <a href="./login.html">Log ind</a>
                </li>
                <li class="nav-btn-signup">
                    <a href="./tilmeld.html">Tilmeld</a>
                </li>

            </ul>
        </nav>

    </div>

    <main>


        <h1 class="login-headline"> <span>Støtteforeningen </span> Retshjælpen Fyns venner</h1>


        <a class="btn" href="#">MitID</a>
        <article class="login-wrapper wrap">

            <section class="login-box">

                <div class="login-grid">

                    <input id="username" class="login-item1" type="text" placeholder="brugernavn eller email">
                    <input id="password" class="login-item2" type="password" placeholder="password">

                </div>

                <p id="error" style="color: red;"></p>

                <div style="margin-top: 20px; margin-bottom: 10px;">
                    <a id="login_btn" class="btn" onclick="checkLogin()">Login</a>
                </div>
                <a href="#">Glemt adgangskode </a>

                <div>
                    <br>
                    <hr>
                    <br>
                    <a class="btn" href="./tilmeld.html">Eller tilmeld her</a>
                </div>

            </section>

            <section>
                <h2>teksst</h2>

            </section>

        </article>

    </main>





    <footer class="footer wrap">

        <div class="footer-text">
            <div>
                <p>Jørgen Peter Holst</p>
                <a href="tel:">
                    <p>+45 61 73 70 43</p>
                </a>
                <a href="mailto:">
                    <p>jph@retshjaelpenfyn.dk</p>
                </a>
            </div>

            <div>
                <p>Risingvej 132</p>
                <p>5240 Odense NØ</p>
                <p>Danmark</p>
            </div>

            <div>
                <a href="http://www.facebook.com" target="_blank">
                    <i class=" fa fa-facebook-square fa-3x" aria-hidden="true"></i>
                    Facebook
                </a>

                <a href="https://www.linked.com" target="_blank">
                    <i class=" fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                    LinkedIn
                </a>
            </div>
        </div>

        <p class="footer-copyright">Copyright &copy; 2021 Retshjælpen Fyns Venner</p>

    </footer>




</body>

</html>
