<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="../js/tilmeld.js" defer></script>

</head>

<body>
    <header></header>
    <div id="sticky-nav">

        <nav class="nav wrap">
            <div class="logo-wtext">
                <a href="../../index.html#top"><img class="img-fluid" src="../GFX/logotekst_sort.png" alt="Logo billede"></a>
            </div>

            <ul>

                <li>
                    <a href="../../index.html#top">Forside</a>
                </li>
                <li>
                    <a href="../../index.html#members">Medlemmer</a>
                </li>
                <li>
                    <a href="../../index.html#about">Om os</a>
                </li>
                <li>
                    <a href="../../index.html#contact">Kontakt</a>
                </li>
                <li>
                    <a href="./login.html">Log ind</a>
                </li>
                <li class="nav-btn-signup">
                    <a href="./tilmeld.html">Tilmeld</a>
                </li>

            </ul>
        </nav>

    </div>

    <main class="signup-background">


        <h1 class="signup-headline"> <span>Støtteforeningen </span> Retshjælpen Fyns venner</h1>


        <article class="signup-wrapper wrap">


            <section>
              <div class="signup-box">

                <p id="error"></p>
                <div class="signup-grid">

                    <input id="name" class="signup-item1" type="text" placeholder="Fornavn">
                    <input id="surname" class="signup-item2" type="text" placeholder="Efternavn">
                    <input id="mail" class="signup-item3" type="text" placeholder="Email eller telefonnummmer">
                    <input id="password" class="signup-item4" type="password" placeholder="Opret adgangskode">

                </div>

                <div class="signup-checkbox">
                    <input id="checkbox"type="checkbox">
                    <label class="signup-agreements" for="agreements">Jeg har læst og forstået <a class="signup-agreements-link" href="#">betingelser</a></label>
                </div>

                <br>

                <div>
                    <p class="signup-birthday">Fødselsdag </p>

                    <select class="signup-date" name="date">
                        <option value="date" disabled selected>Vælg dato</option>
                        <option value="01">01 </option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>

                    <select class="signup-month" name="month">
                        <option value="month" disabled selected>Vælg måned</option>
                        <option value="01">Januar </option>
                        <option value="02">Februar</option>
                        <option value="03">Marts</option>
                        <option value="04">April</option>
                        <option value="05">Maj</option>
                        <option value="06">Juni</option>
                        <option value="07">Juli</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">Oktober</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>

                    <select class="signup-year" name="Årstal">
                        <option value="01">2021</option>
                        <option value="01">2020</option>
                        <option value="01">2019</option>
                        <option value="01">2018</option>
                        <option value="01">2017</option>
                        <option value="01">2016</option>
                        <option value="01">2015</option>
                        <option value="01">2014</option>
                        <option value="01">2013</option>
                        <option value="01">2012</option>
                        <option value="01">2011</option>
                        <option value="01">2010</option>
                        <option value="01">2009</option>
                        <option value="01">2008</option>
                        <option value="01">2007</option>
                        <option value="01">2006</option>
                        <option value="01">2005</option>
                        <option value="01">2004</option>
                        <option value="01">2003</option>
                        <option value="01">2002</option>
                        <option value="01">2001</option>
                        <option value="01">2000</option>
                        <option value="01">1999</option>
                        <option value="01">1998</option>
                        <option value="01">1997</option>
                        <option value="01">1996</option>
                        <option value="01">1995</option>
                    </select>

                    <!-- <input type="date" id="date" > -->
                    <!-- <button onclick="getDate()">tryk her</button> -->

                </div>

                <br>

                <div>

                    <input type="radio" name="gender">
                    <label class="signup-male">Mand</label>

                    <input type="radio" name="gender">
                    <label class="signup-woman">Kvinde</label>

                    <input type="radio" name="gender">
                    <label class="signup-other">Andet</label>

                </div>

                <br>

                <p class="signup-accept">Når du klikker tilmeld, accepterer du vores <a class="signup-accept-conditions" href="#">betingelser og vilkår</a></p>
                <div style="margin-top: 20px;">
                    <a id="signup_btn" onclick="check()" class="signup-create-btn" >Tilmeld</a>
                </div>

                </div>
            </section>

            <section class="signup-text">
              <div>
                <h3>Sådan bliver du medlem</h3>
                  <p>&#8226; Årligt honorar på 500,-</p>
                  <p>&#8226; Indbetales ved årsskifte til konto: xxxx xxxxxxxxxxxx</p>
              </div>

              <br>

              <div>
                <h4>Medlemsfordele</h4>
                  <p>&#8226; Udvidelse af netværk</p>
                  <p>&#8226; Netværk med jurastuderende</p>
                  <p>&#8226; Du styrker Fyns borgeres retssikkerhed</p>
                  <p>&#8226; Du er med til at skabe større lighed på retsområdet </p>
                  <p>&#8226; Mulighed for bestyrelsesmøder</p>
                  <p>&#8226; Emblem til egen virksomhed til egen promotion</p>
              </div>

              <br>
              <br>

              <div>
                <h3>Det du støtter:</h3>
                <h4>Gratis rådgivning</h4>
                <p>Rådgivning og vejledning til over 1500 ressourcesvage borgere borgere årligt. Med din hjælp kan vi hjælpe endnu flere!</p>
                <br>
                <h4>Gratis sagsbehandling</h4>
                <p>Konkret juridisk sagsbehandling i ca. 500 sager årligt.</p>
                <br>
                <h4>30 praktiskpladser for jurastuderende på SDU</h4>
                <p>Jurastuderende på Fyn har et meget begrænset udvalg af praktikpladser. Vi er med til at sikre udbuddet, således at de studerende ikke søger væk fra Fyn.</p>
                <br>
                <h4>Juridisk dannelse</h4>
                <p>Vi kvalificerer de jurastuderende til at kommunikere med et bredt udsnit af borgere og myndigheder, samt løse juridiske udfordringer. De studerende klædes på til at komme ud på arbejdsmarkedet både hos advokater og offentlige myndigheder.</p>

              </div>

            </section>

        </article>
        <p>Eller login med MitId</p>

    </main>





    <footer class="footer wrap">

        <div class="footer-text">
            <div>
                <p>Jørgen Peter Holst</p>
                <a href="tel:">
                    <p>+45 61 73 70 43</p>
                </a>
                <a href="mailto:">
                    <p>jph@retshjaelpenfyn.dk</p>
                </a>
            </div>

            <div>
                <p>Risingvej 132</p>
                <p>5240 Odense NØ</p>
                <p>Danmark</p>
            </div>

            <div>
                <a href="http://www.facebook.com" target="_blank">
                    <i class=" fa fa-facebook-square fa-3x" aria-hidden="true"></i>
                    Facebook
                </a>

                <a href="https://www.linked.com" target="_blank">
                    <i class=" fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                    LinkedIn
                </a>
            </div>
        </div>

        <p class="footer-copyright">Copyright &copy; 2021 Retshjælpen Fyns Venner</p>

    </footer>




</body>

</html>
