@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,800;1,200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    scroll-behavior: smooth;
}

:root {

    --font:'Poppins', sans-serif;

    --textColor: white;
    --black: black;

    /* --darkBlue: #4567A4;
    --lightBlue: #005BFF;
    --veryLightBlue: #7FACFF; */
    --blue: #7FACFF;
    --orange: #f36459;

    --grey: #F2F2F2;
    --white: #fdfdfd;
}

.img-fluid, .w100 {
    width: 100%;
}

.wrap {
  width: 88%;
  margin: auto;
}

body {
    background-color: var(--grey);

}

a {
    color: var(--black);
}

h1{
    font-weight: 400;
    font-size: 40px;

}

h2{
  font-weight: 400;
  font-size: 38px;
}

/* h3 {

}

h4 {

}

h5 {

}

h6 {

} */



/* #region forside */


/* #region  header-img */

.header-img img {
    object-fit: cover;
    height: 90vh;
    width: 100%;
}

.header-img {
    position: relative;
    height: 90vh;
}

.header-img-overlay {
    background-color: black;
    opacity: 0.4;

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 90vh;

}

.header-img-content {
    position: absolute;
    top: 100px;
    left: 0px;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.header-img-logo img {

   width: 200px;
   height: 200px;

}

.header-img-text  {

    text-align: center;
    color: var(--textColor);
    font-size: 40px;

    display: block;
    margin: auto;

}

.btn {
    padding: 10px 40px;
    border: none;
    border-radius: 6px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 28px;
    text-decoration: none;
    transition: .2s;
}

.btn:hover {
    padding: 12px 42px;
    font-size: 29px;
}

/* #endregion */



/* #region nav */

.sticky-nav {
  position: sticky;
	top: -2px;
  border-bottom: solid black 2px;
  background-color: var(--white);
}

.nav {
	  display: grid;
    grid-template-columns: 2fr 12fr;
    grid-gap: 10%;

}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav li {
    display: inline;

}

.nav ul li a {

    text-decoration: none;
    font-size: 20px;
    font-weight: 400;

}

.nav-btn-signup a {
    border: solid var(--orange) 4px;
    border-radius: 12px;
    padding: 4px 12px;

    color: var(--black);
    transition: .2s;
}
.nav-btn-signup a:hover {

    padding: 4px 12px;
    background-color: var(--orange);
    color: var(--white);
}

.logo-wtext {
    display: flex;
    padding: 10px 0;
}
/* #endregion */
.golden-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--textColor);
    text-align: center;
}

/*
.circle {
  background-image: url(../gfx/circle_orange.png);
  background-repeat: no-repeat;
  background-size: 1300px 1300px;
  height: 100vh;
  width: 100%;
  background-position: 900% 50%;
}
*/

.circle {
  background-color: var(--orange);
  width: 90%;
  align-self: start;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
  height: 100vh;
}

.golden-circle-title {
    font-size: 26px;
}

.golden-circle-text {
    margin-top: 1.5%;
}
/* #endregion */


.members-bg {
  background-color: var(--white);
}

.members {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    color: var(--black);
    text-align: center;



}

.member-text {
    margin-top: 2.5%;
}

.member-container {
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin-top: 5%;
    align-items: center;

}

.member-box {
 background-color: deeppink;
 height: 500px;
 width: 400px;
}

/* #endregion */
.about-us-wrapper {
    display: flex;
    flex-direction: row;
    gap: 25%;
}

.contact-bg {
  background-color: var(--blue);
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0;
  grid-gap: 10vw;
  height: 55vh;
}

.contact-wrapper h2, .contact-wrapper p {
  color: var(--white);
}

.contact-wrapper p {
  text-align: right;

}

.clear {
  clear: both;
}

.contact-formular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.contact-formular input, .contact-formular textarea {
  padding: 10px;
  border-radius: 6px;
  border: none;
  box-shadow: 5px 5px 30px -6px rgba(0,0,0,0.75);
}

.footer-text {
  background-color: var(--grey);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 36%;
}

.footer-copyright {
  text-align: center;
}

.footer {
  height: 20vh;
}
